# Question 1

In [3]:
a ="hello world" #string

In [5]:
l=[1,2,3,4]   #list

In [6]:
f= 2.939 #float

In [7]:
t=(10,20,30,40) #tuple

# Question 2

In [9]:
var1 = ''
type(var1)

str

In [11]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [14]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [15]:
var4 = 1
type(var4)

int

# Question 3

In [16]:
25/5

5.0

'/' operator is used for division

In [17]:
10%3

1

'%' operator is used for reminder, here when we divide 3 with 10 we get 1

In [18]:
15//2

7

'//' is called floor divison operator when we perform divison it returns the largest integer less then or equal to the result

In [19]:
2**3

8

** is the power operator

# Question 4

In [27]:
list=[10,20,3,"hello","red","blue",3.6, 2+6j,4.5,5]
for i in list:
    print(i)
    print(type(i))

10
<class 'int'>
20
<class 'int'>
3
<class 'int'>
hello
<class 'str'>
red
<class 'str'>
blue
<class 'str'>
3.6
<class 'float'>
(2+6j)
<class 'complex'>
4.5
<class 'float'>
5
<class 'int'>

# Question 5

In [36]:
A=int(input("enter the number "))
B=int(input("enter 2nd number "))
count=0
while(A%B==0):
    A=A/B
    count+=1
print("The number is divisible ",count," times.")

enter the number 200
enter 2nd number 5
The number is divisible  2  times.

# Question 6

In [41]:
list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in list:
    print(i," is divisible by 3") if(i%3==0) else print(i," is not divisible by 3")

1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisible by 3
25  is not divisible by 3

# Question 7

Mutable: Mutable are the data types which can be modified after they are created for example list

In [49]:
list=[10,2,44,"time","space"]
print(list)
list[3]="shahina"
print(list)

[10, 2, 44, 'time', 'space']
[10, 2, 44, 'shahina', 'space']

Immutable: immutable are the data types which cannot be modified for example string

In [53]:
a="computer"
a[3]

'p'

In [54]:
a[3]=a

TypeError: 'str' object does not support item assignment